body{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #111619;

  .core{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    background-color: white;
    border-radius: 5px;

    .masonry{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 99%;

      .col{
        display: flex;
        flex-direction: column;
        width: 33%;

        img{
          width: 100%;
          margin-top: 4px;
          margin-bottom: 4px;
        }
      }
    }

    .divinEnfant{
      width: 100%;
    }
  }
}